h2 {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.7rem;
}
p {
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  padding: 1rem 0;
}

.delete-btn {
  background-color: red;
  color: #fff;
}
